$main-font: 'Montserrat', 'serif';

$white-color: #edf0f5;
$black-color: #1b1b1b;
$sky-blue-color: #0695d8;
$dark-blue-color: #24485c;
$gray-color: #979797;
$special-yellow-color: #ffdf00;
$placeholder-color: #8a8989;
$error-color: #fc4848;
