@use 'globals';
@use 'mixins';

@media screen and (min-width: 990px) {
	.navbar {
		&__title-box {
			margin: 0 0.5rem;
		}

		&__title-text {
			padding: 0;
		}

		&__desktop-list {
			font-size: 1.125rem;
		}

		&__item {
			margin: 0 2rem;
		}

		&__item-link {
			font-size: 1rem;
		}
	}

	.footer {
		&__copyright-company-name {
			font-size: 1rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.cookie-banner-text {
		padding: 1em;
	}

	.navbar {
		&__container {
			padding: 0 0.5rem;
		}

		&__title {
			padding-left: 2rem;
		}

		&__item-link:hover {
			color: globals.$gray-color;
		}
	}

	.welcome {
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(2, 1fr);
		background: transparent;
		background-color: globals.$dark-blue-color;

		&__text-container {
			position: relative;
			grid-column: 1/2;
			text-align: left;
		}

		&__text-box {
			@include mixins.flex;
			flex-direction: column;
			width: 100%;
		}

		&__text-container-icon {
			display: block;
			position: absolute;
			color: rgba(255, 255, 255, 0.15);
			transform: scale(0.1);

			&--first {
				top: -2em;
				right: 5em;
				animation: car-appear 5s 1 forwards;
			}

			&--second {
				display: none;
			}

			&--third {
				bottom: -3em;
				left: 1em;
				animation: car-appear 5.5s 1 forwards;
			}

			&--fourth {
				bottom: -2em;
				right: 1.5em;
				animation: car-appear 4s 1 forwards;
			}

			&--fifth {
				top: -1.25em;
				right: 1em;
				animation: car-appear 6s 1 forwards;
			}
		}

		&__main-text {
			font-size: 3.5em;
		}

		&__sub-text {
			margin-left: 4px;
		}

		&__special-btn:hover {
			background-color: globals.$darker-blue-color;
		}

		&__btn-container {
			display: block;
			width: 100%;
			height: 100%;
			background-image: url('../images/welcome-section/welcome-image.jpg');
			background-position: center;
			background-size: cover;
			grid-column: 2/3;
		}

		&__btn-box {
			display: flex;
			justify-content: center;
			align-items: end;
			padding-bottom: 3em;
			height: 100%;

			a {
				margin: 1em;
				padding: 0.5em;
				border: none;
				border-radius: 24px;
				background-color: transparent;
				transition: transform 0.3s ease-in-out;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					transform: scale(1.1);
				}
			}

			img {
				border-radius: 24px;
				max-width: 80px;
			}
		}
	}

	.offer,
	.choose-us,
	.blog,
	.contact,
	.privacy-policy {
		&__title {
			font-size: 3rem;
		}
	}

	.offer {
		&__content-wrapper {
			width: 100%;
			justify-content: space-evenly;
			flex-direction: row;
		}

		&__image-container {
			width: auto;
			margin-left: 0;

			img {
				width: auto;
			}

			a {
				left: 9%;
				padding: 0.75em 3em;
				max-width: 220px;
				transform: skew(-20deg, 28deg);
				cursor: pointer;

				&:hover {
					background-color: rgb(34, 155, 44);
				}
			}

			p {
				top: 42%;
				left: 29%;
				transform: skew(-20deg, 23deg);
			}
		}

		&__image-container-icon {
			top: 25%;
			left: 46%;
			transform: skew(-30deg, 30deg);
		}

		&__special-circle {
			&--first {
				display: block;
				top: -30%;
				left: 1.75%;
				width: 200px;
				height: 200px;
			}

			&--second {
				display: block;
				top: -60%;
				left: 50%;
				width: 150px;
				height: 150px;
			}

			&--fourth {
				display: block;
				top: 95%;
				left: 55%;
				width: 175px;
				height: 175px;
			}

			&--fifth {
				display: block;
				top: 120%;
				left: 0;
				width: 125px;
				height: 125px;
			}
		}
	}

	.choose-us {
		&__box {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: start;
			width: 100%;
		}

		&__box-item {
			padding: 2em;
			max-width: 450px;
		}

		&__box-item-image {
			max-width: 450px;
		}

		&__box-item:last-of-type {
			grid-column: 1/-1;
		}

		&__special-decoration {
			position: absolute;
			display: block;
			border: 1px solid globals.$white-color;

			&--first {
				top: -300px;
				left: -1000px;
				width: 1200px;
				height: 600px;
				transform: rotate(45deg);
			}

			&--second {
				top: 55%;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(55deg);
			}

			&--third {
				top: 100px;
				right: -850px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--fourth {
				top: 45%;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(65deg);
			}

			&--fifth {
				top: 96%;
				right: -750px;
			}
		}
	}

	.form {
		&__label {
			font-size: 1.1em;
		}

		&__input-error,
		&__textarea-error {
			font-size: 0.9em;
		}

		&__submit {
			font-size: 1.1em;

			&:hover {
				color: globals.$white-color;
				background-color: globals.$dark-blue-color;
			}
		}

		&__special-text {
			font-size: 1.1rem;
		}
	}

	.blog-popup {
		&__close-btn {
			&:hover {
				color: globals.$white-color;
				background-color: globals.$dark-blue-color;
			}
		}
	}

	.loader {
		margin: 1.49em 0;
	}

	.footer {
		&__container {
			padding: 4rem;
			margin: 0;
		}

		&__box {
			a:hover {
				color: globals.$gray-color;
			}
		}

		&__box:nth-of-type(3) {
			display: block;
		}

		&__copyright-box {
			margin: 1.25rem 0;
		}
	}

	.notfound,
	.privacy-policy {
		&__btn {
			font-size: 1.1em;

			&:hover {
				color: globals.$white-color;
				background-color: globals.$dark-blue-color;
			}
		}
	}

	.privacy-policy {
		&__box {
			max-width: 480px;
		}

		&__btn {
			margin: 4em 0;
		}
	}

	.notfound {
		padding-bottom: 1em;

		&__img {
			width: 35%;
			max-width: 660px;
		}
	}
}

@media screen and (min-width: 1358px) {
	.navbar {
		&__container {
			padding: 0 6rem;
		}

		&__item-link {
			font-size: 1.1rem;
		}
	}

	.offer,
	.choose-us,
	.blog,
	.contact {
		&__special-block {
			width: 41%;
			height: 45px;

			&--right {
				display: none;
			}
		}
	}

	.offer {
		padding-top: 70px;

		&__title {
			padding: 0.5rem 0.85rem 0;
			width: 100%;
			font-size: 3.5rem;
		}

		&__content-wrapper {
			padding: 4em 0;
		}

		&__text-content {
			margin-left: 10em;
		}

		&__image-content {
			margin-right: 10em;
		}

		&__special-circle {
			&--fifth {
				top: 130%;
			}
		}
	}

	.blog {
		padding: 70px 0;

		&__title {
			padding: 0.5rem 0.85rem 5rem;
			width: 100%;
			font-size: 3.5rem;
		}
	}

	.blog-popup {
		&__container {
			max-width: 700px;
			max-height: 850px;
			border-radius: 0.25rem;
		}

		&__container::-webkit-scrollbar {
			width: 5px;
		}

		&__container::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&__container::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
			border-radius: 12px;
		}
	}

	.blog-popup--is-active {
		.navbar__container {
			padding-right: calc(6rem + 17px);
		}
	}

	.choose-us {
		padding-top: 70px;

		&__title {
			padding: 0.5rem 0.85rem 0;
			width: 100%;
			font-size: 3.5rem;
		}

		&__box {
			padding: 4em 0;
			max-width: 1368px;
		}

		&__box-item,
		&__box-item-image {
			max-width: 500px;
		}

		&__box-item {
			h3 {
				font-size: 1.8em;
			}
		}

		&__box-item-image {
			height: 350px;
		}

		&__special-decoration {
			&--first {
				top: 0;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--fifth {
				top: 96%;
				right: -1500px;
				width: 2000px;
				height: 1500px;
				transform: rotate(65deg);
			}
		}
	}

	.contact {
		padding-top: 70px;

		&__container {
			align-items: start;
			flex-direction: row;
		}

		&__title-box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: start;
			margin-left: 4rem;
		}

		&__title,
		&__title-subtext {
			text-align: left;
		}

		&__title {
			padding: 0.5rem 0.85rem 0 0.7rem;
			width: 100%;
			font-size: 3.5rem;
		}

		&__title-info-box {
			padding: 2rem 2.25rem;
			max-width: 400px;
			justify-content: start;
			font-size: 1.1rem;
		}

		&__title-icon {
			position: absolute;
			display: block;
			color: rgba(10, 10, 10, 0.3);

			&--first {
				bottom: -0.5em;
				left: 3.9em;
			}

			&--second {
				bottom: -1.4em;
				left: 5.4em;
			}

			&--third {
				bottom: 0.1em;
				left: 7.5em;
			}
		}

		&__form {
			margin-right: 2.5rem;
		}
	}
}

@media screen and (min-width: 1536px) {
	.cookie-banner-text {
		font-size: 1.1em;
	}

	.navbar {
		&__container {
			padding: 0 8rem;
		}

		&__title {
			padding-left: 1rem;
		}

		&__login-icon {
			margin: 5px 2rem 0;
		}
	}

	.welcome {
		&__main-text {
			font-size: 4.5rem;
		}

		&__sub-text {
			font-size: 1.1rem;
		}

		&__special-btn {
			font-size: 1.1em;
		}

		&__text-container-icon {
			display: block;
			position: absolute;
			color: rgba(255, 255, 255, 0.15);

			&--first {
				top: -2.5em;
				right: 6em;
			}

			&--second {
				top: -0.5em;
				left: 1.5em;
				animation: car-appear 4.5s 1 forwards;
			}

			&--third {
				bottom: -2.5em;
				left: 3em;
			}

			&--fourth {
				bottom: -3em;
				right: 3em;
			}

			&--fifth {
				top: 0;
				right: 1em;
			}
		}

		&__btn-box {
			padding-bottom: 5em;

			img {
				max-width: 96px;
			}
		}

		&__icon-container {
			bottom: 2em;
			left: 50%;
		}
	}

	.choose-us {
		&__special-decoration {
			&--first {
				top: 0;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--second {
				top: 55%;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(55deg);
			}

			&--third {
				top: 0;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--fourth {
				top: 45%;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(65deg);
			}

			&--fifth {
				top: 96%;
				right: -1200px;
				width: 2000px;
				height: 1500px;
				transform: rotate(65deg);
			}
		}
	}

	.blog-popup--is-active {
		.navbar__container {
			padding-right: calc(8rem + 17px);
		}
	}

	.footer {
		&__box:nth-of-type(4) {
			display: block;
		}
	}
}

@media screen and (min-width: 1720px) {
	.contact {
		&__title-box {
			margin-left: 2em;
		}
	}
}

@media screen and (min-width: 1920px) {
	.navbar {
		&__container {
			padding: 0 11.6rem;
		}
	}

	.blog-popup--is-active {
		.navbar__container {
			padding-right: calc(11.6rem + 17px);
		}
	}
}
