@use 'globals';
@use 'mixins';

@media screen and (min-width: 990px) {
	.navbar {
		&__title-box {
			margin: 0 0.5rem;
		}

		&__title-text {
			padding: 0;
		}

		&__desktop-list {
			font-size: 1.125rem;
		}

		&__item {
			margin: 0 1.15rem;
		}

		&__item-link {
			font-size: 1rem;
		}
	}

	.footer {
		&__copyright-company-name {
			font-size: 1rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.cookie-banner-text {
		padding: 1em;
	}

	.navbar {
		&__container {
			padding: 0 0.5rem;
		}

		&__title {
			padding-left: 2rem;
		}

		&__item-link:hover {
			color: globals.$gray-color;
		}
	}

	.welcome {
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(2, 1fr);
		background: transparent;
		background-color: globals.$sky-blue-color;

		&__text-container {
			position: relative;
			grid-column: 1/2;
			text-align: left;
		}

		&__text-box {
			@include mixins.flex;
			flex-direction: column;
			width: 100%;
		}

		&__text-container-icon {
			display: block;
			position: absolute;
			color: rgba(255, 255, 255, 0.15);
			transform: scale(0.1);

			&--first {
				top: -2em;
				right: 5em;
				animation: car-appear 5s 1 forwards;
			}

			&--second {
				display: none;
			}

			&--third {
				bottom: -3em;
				left: 1em;
				animation: car-appear 5.5s 1 forwards;
			}

			&--fourth {
				bottom: -2em;
				right: 1.5em;
				animation: car-appear 4s 1 forwards;
			}

			&--fifth {
				top: -1.25em;
				right: 1em;
				animation: car-appear 6s 1 forwards;
			}
		}

		&__main-text {
			font-size: 3.5em;
		}

		&__sub-text {
			margin-left: 4px;
		}

		&__special-btn:hover {
			background-color: globals.$dark-blue-color;
		}

		&__btn-container {
			display: block;
			width: 100%;
			height: 100%;
			background-image: url('../images/welcome-section/welcome-image.jpg');
			background-position: center;
			background-size: cover;
			grid-column: 2/3;
		}

		&__btn-box {
			display: flex;
			justify-content: center;
			align-items: end;
			padding-bottom: 3em;
			height: 100%;

			a {
				margin: 1em;
				padding: 0.5em;
				border: none;
				border-radius: 24px;
				background-color: transparent;
				transition: transform 0.3s ease-in-out;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					transform: scale(1.1);
				}
			}

			img {
				border-radius: 24px;
				max-width: 80px;
			}
		}
	}

	.offer,
	.work-offer,
	.rent-car,
	.choose-us,
	.blog,
	.contact,
	.privacy-policy {
		&__title {
			font-size: 3rem;
		}
	}

	.offer {
		&__content-wrapper {
			width: 100%;
			justify-content: space-evenly;
			flex-direction: row;
		}

		&__text-content-box {
			a:hover {
				color: globals.$white-color;
				background-color: globals.$sky-blue-color;
				border-color: globals.$sky-blue-color;
			}
		}

		&__image-container {
			width: 413px;
			margin-left: 0;

			img {
				width: auto;
			}

			a {
				left: 9%;
				padding: 0.75em 3em;
				max-width: 220px;
				transform: skew(-20deg, 28deg);
				cursor: pointer;

				&:hover {
					background-color: rgb(34, 155, 44);
				}
			}

			p {
				top: 42%;
				left: 29%;
				transform: skew(-20deg, 23deg);
			}
		}

		&__image-container-icon {
			top: 25%;
			left: 46%;
			transform: skew(-30deg, 30deg);
		}

		&__special-circle {
			&--second::before,
			&--second::after,
			&--third::before,
			&--third::after,
			&--fourth::before,
			&--fourth::after,
			&--sixth::before,
			&--sixth::after,
			&--seventh::before,
			&--seventh::after {
				content: '';
				position: absolute;
				background-color: globals.$sky-blue-color;
				border-radius: 50%;
			}

			&--first {
				top: -55%;
				left: -10%;
				width: 75px;
				height: 75px;
			}

			&--first::before {
				top: -50%;
				left: 150%;
				width: 50px;
				height: 50px;
				bottom: 0;
			}

			&--first::after {
				top: -25%;
				left: -50px;
				width: 25px;
				height: 25px;
			}

			&--second {
				display: block;
				top: -65%;
				left: 39%;
				width: 115px;
				height: 115px;
			}

			&--second::before {
				top: 50%;
				right: -50%;
				width: 35px;
				height: 35px;
			}

			&--second::after {
				top: 110%;
				right: -35%;
				width: 25px;
				height: 25px;
			}

			&--third {
				display: block;
				top: -40%;
				left: 75%;
				width: 165px;
				height: 165px;
			}

			&--third::before {
				top: 50%;
				right: -35%;
				width: 45px;
				height: 45px;
			}

			&--third::after {
				top: 90%;
				right: -15%;
				width: 32px;
				height: 32px;
			}

			&--fourth {
				display: block;
				top: -1%;
				right: -35%;
				width: 195px;
				height: 195px;
			}

			&--fourth::before {
				top: -20%;
				right: -10%;
				width: 45px;
				height: 45px;
			}

			&--fourth::after {
				top: -15%;
				left: -40%;
				width: 32px;
				height: 32px;
			}

			&--fifth::before {
				content: '';
				position: absolute;
				top: 30%;
				right: -40%;
				width: 120px;
				height: 120px;
				background-color: globals.$sky-blue-color;
				border-radius: 50%;
			}

			&--fifth::after {
				content: '';
				position: absolute;
				top: 30%;
				left: -15%;
				width: 40px;
				height: 40px;
				background-color: globals.$sky-blue-color;
				border-radius: 50%;
			}

			&--sixth {
				display: block;
				top: 86%;
				left: -5%;
				width: 155px;
				height: 155px;
			}

			&--sixth::before {
				top: 120%;
				right: -40%;
				width: 90px;
				height: 90px;
			}

			&--sixth::after {
				top: -10%;
				left: -15%;
				width: 25px;
				height: 25px;
			}

			&--seventh {
				display: block;
				top: 123%;
				left: -18%;
				width: 135px;
				height: 135px;
			}

			&--seventh::before {
				top: 110%;
				left: -30%;
				width: 55px;
				height: 55px;
			}

			&--seventh::after {
				bottom: -10%;
				right: -35%;
				width: 15px;
				height: 15px;
			}
		}
	}

	.work-offer,
	.rent-car {
		&__hero-image-title {
			font-size: 4.5rem;
		}

		&__content-wrapper {
			width: 100%;
			max-width: 1000px;
			flex-direction: row;
		}

		&__benefits-text-content {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: 3em;
			max-width: 1000px;
		}

		&__benefits-text-content-box {
			max-width: 425px;
		}

		&__benefits {
			padding-bottom: 3rem;
		}

		&__form-title-subtext a:hover {
			color: globals.$sky-blue-color;
			text-underline-offset: 2px;
			transition: color 0.3s;
		}
	}

	.work-offer {
		&__banner {
			padding-bottom: 3rem;
		}

		&__banner-container-box {
			h3 {
				font-size: 1.6rem;
			}

			a:hover {
				color: globals.$dark-blue-color;
			}
		}
	}

	.rent-car {
		&__list {
			padding-bottom: 3rem;
		}
	}

	.choose-us {
		&__box {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: start;
			width: 100%;
		}

		&__box-item {
			padding: 2em;
			max-width: 450px;
		}

		&__box-item-image {
			max-width: 450px;
		}

		&__box-item:last-of-type {
			grid-column: 1/-1;
		}

		&__special-decoration {
			position: absolute;
			display: block;
			border: 1px solid globals.$white-color;

			&--first {
				top: -300px;
				left: -1000px;
				width: 1200px;
				height: 600px;
				transform: rotate(45deg);
			}

			&--second {
				top: 55%;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(55deg);
			}

			&--third {
				top: 100px;
				right: -850px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--fourth {
				top: 45%;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(65deg);
			}

			&--fifth {
				top: 96%;
				right: -750px;
			}
		}
	}

	.blog {
		&__loader,
		&__error-box {
			padding: 7em 0 5em;
		}

		&__loader {
			div {
				font-size: 55px;
			}
		}

		&__error-box {
			p {
				font-size: 1.4em;
			}

			button {
				font-size: 1.1em;

				&:hover {
					color: globals.$white-color;
					background-color: globals.$sky-blue-color;
					border-color: globals.$sky-blue-color;
				}
			}
		}
	}

	.blog-popup {
		&__container {
			max-width: 575px;
		}

		&__close-btn {
			&:hover {
				color: globals.$white-color;
				background-color: globals.$sky-blue-color;
				border: 2px solid globals.$sky-blue-color;
			}
		}
	}

	.contact {
		&__title-subtext {
			a:hover {
				color: globals.$sky-blue-color;
			}
		}
	}

	.form {
		&__label {
			font-size: 1.1em;
		}

		&__input-error,
		&__select-error {
			font-size: 0.9em;
		}

		&__textarea-error {
			font-size: 0.95em;
		}

		&__submit,
		&__return-btn {
			font-size: 1.1em;

			&:hover {
				color: globals.$white-color;
				background-color: globals.$sky-blue-color;
				border-color: globals.$sky-blue-color;
			}
		}

		&__special-text {
			font-size: 1.1rem;
		}
	}

	.loader {
		margin: 1.49em 0;
	}

	.footer {
		&__container {
			padding: 4rem;
			margin: 0;
		}

		&__box {
			a:hover {
				color: globals.$black-color;
			}
		}

		&__box:nth-of-type(3) {
			display: block;
		}

		&__copyright-box {
			margin: 1.25rem 0;
		}
	}

	.notfound,
	.privacy-policy {
		&__btn {
			font-size: 1.1em;

			&:hover {
				color: globals.$white-color;
				background-color: globals.$sky-blue-color;
				border-color: globals.$sky-blue-color;
			}
		}
	}

	.privacy-policy {
		&__title {
			max-width: 500px;
			margin-right: 0;
		}

		&__box {
			max-width: 480px;

			a:hover {
				color: globals.$sky-blue-color;
			}
		}

		&__btn {
			margin: 4em 0;
		}
	}

	.notfound {
		&__container {
			padding-bottom: 5em;
		}

		&__img {
			width: 35%;
			max-width: 660px;
		}
	}
}

@media screen and (min-width: 1208px) {
	.navbar {
		&__item {
			margin: 0 1.5rem;
		}
	}
}

@media screen and (min-width: 1358px) {
	.navbar {
		&__container {
			padding: 0 6rem;
		}

		&__item-link {
			font-size: 1.1rem;
		}
	}

	.offer,
	.choose-us,
	.work-offer,
	.rent-car,
	.blog,
	.contact,
	.privacy-policy,
	.notfound {
		&__special-block {
			height: 45px;

			&--right {
				display: none;
			}
		}
	}

	.offer,
	.choose-us,
	.blog,
	.contact {
		&__special-block {
			width: 42%;
		}
	}

	.work-offer,
	.rent-car,
	.privacy-policy,
	.notfound {
		&__special-block {
			width: 41.6%;
		}
	}

	.offer,
	.blog,
	.choose-us {
		&__title {
			padding: 0.5rem 0.85rem 0;
			font-size: 3.5rem;
		}
	}

	.offer {
		padding-top: 70px;

		&__content-wrapper {
			padding: 4em 0;
		}

		&__text-content {
			margin-left: 10em;
		}

		&__image-content {
			margin-right: 10em;
		}
	}

	.work-offer,
	.rent-car {
		&__hero-image-title {
			font-size: 5rem;
		}

		&__benefits {
			padding-top: 70px;
		}

		&__title {
			font-size: 3.5rem;

			&--special {
				padding-top: 70px;
			}
		}

		&__form {
			padding-top: 70px;
		}

		&__form-container {
			align-items: start;
			flex-direction: row;
		}

		&__form-title-box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: start;
			margin-left: 4rem;
		}

		&__form-title,
		&__form-title-subtext {
			text-align: left;
		}

		&__form-title {
			padding: 0.5rem 0.85rem 0 0.9rem;
			width: 100%;
			font-size: 3.5rem;
		}

		&__form-title-info-box {
			padding: 2rem 2.25rem;
			max-width: 400px;
			justify-content: start;
			font-size: 1.1rem;
			list-style-type: disc;
			text-align: left;
		}

		&__form-title-icon {
			position: absolute;
			display: block;
			color: rgba(10, 10, 10, 0.3);

			&--first {
				bottom: -1.3em;
				left: 4.4em;
			}

			&--second {
				bottom: -2.2em;
				left: 5.9em;
			}

			&--third {
				bottom: -0.7em;
				left: 8em;
			}
		}

		&__benefits-special-block,
		&__form-special-block {
			width: 41.6%;
			height: 45px;

			&--right {
				display: none;
			}
		}
	}

	.work-offer {
		&__banner-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 1450px;
		}

		&__banner-container-box {
			padding: 2rem;
			margin: 4rem;
			width: 500px;
		}

		&__work-form {
			margin-right: 2.5rem;
		}

		&__banner-special-block {
			width: 41.6%;
			height: 45px;

			&--right {
				display: none;
			}
		}
	}

	.rent-car {
		&__list-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 1450px;
		}

		&__car-form {
			margin-right: 2.5rem;
		}

		&__list-special-block {
			width: 41.6%;
			height: 45px;

			&--right {
				display: none;
			}
		}
	}

	.choose-us {
		padding-top: 70px;

		&__box {
			padding: 4em 0;
			max-width: 1368px;
		}

		&__box-item,
		&__box-item-image {
			max-width: 500px;
		}

		&__box-item {
			h3 {
				font-size: 1.8em;
			}
		}

		&__box-item-image {
			height: 350px;
		}

		&__special-decoration {
			&--first {
				top: 0;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--fifth {
				top: 96%;
				right: -1500px;
				width: 2000px;
				height: 1500px;
				transform: rotate(65deg);
			}
		}
	}

	.blog {
		padding: 70px 0;

		&__title {
			padding-bottom: 2rem;
		}

		&__loader,
		&__error-box {
			padding: 9em 0 6em;
		}

		&__loader {
			div {
				font-size: 65px;
			}
		}

		&__error-box {
			p {
				font-size: 1.5em;
			}
		}
	}

	.blog-popup {
		&__container {
			max-width: 675px;
			max-height: 850px;
			border-radius: 0.25rem;
		}

		&__container::-webkit-scrollbar {
			width: 5px;
		}

		&__container::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&__container::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
			border-radius: 12px;
		}
	}

	.blog-popup--is-active {
		.navbar__container {
			padding-right: calc(6rem + 17px);
		}
	}

	.contact {
		padding-top: 70px;

		&__container {
			align-items: start;
			flex-direction: row;
		}

		&__title-box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: start;
			margin-left: 4rem;
		}

		&__title,
		&__title-subtext {
			text-align: left;
		}

		&__title {
			padding: 0.5rem 0.85rem 0 0.7rem;
			width: 100%;
			font-size: 3.5rem;
		}

		&__title-info-box {
			padding: 2rem 2.25rem;
			max-width: 400px;
			justify-content: start;
			font-size: 1.1rem;
		}

		&__title-icon {
			position: absolute;
			display: block;
			color: rgba(10, 10, 10, 0.3);

			&--first {
				bottom: 1.5em;
				left: 4.4em;
			}

			&--second {
				bottom: 0.6em;
				left: 5.9em;
			}

			&--third {
				bottom: 2.6em;
				left: 8em;
			}
		}

		&__form {
			margin-right: 2.5rem;
		}
	}
}

@media screen and (min-width: 1536px) {
	.cookie-banner-text {
		font-size: 1.1em;
	}

	.navbar {
		&__container {
			padding: 0 8rem;
		}

		&__title {
			padding-left: 0.95rem;
		}

		&__item {
			margin: 0 2rem;
		}

		&__login-icon {
			margin: 5px 2rem 0;
		}
	}

	.welcome {
		&__main-text {
			font-size: 4.5rem;
		}

		&__special-btn {
			font-size: 1.1em;
		}

		&__text-container-icon {
			&--first {
				top: -2.5em;
				right: 6em;
			}

			&--second {
				display: block;
				top: -0.5em;
				left: 1.5em;
				animation: car-appear 4.5s 1 forwards;
			}

			&--third {
				bottom: -2.5em;
				left: 3em;
			}

			&--fourth {
				bottom: -3em;
				right: 3em;
			}

			&--fifth {
				top: 0;
				right: 1em;
			}
		}

		&__btn-box {
			padding-bottom: 5em;

			img {
				max-width: 96px;
			}
		}

		&__icon-container {
			bottom: 2em;
			left: 50%;
		}
	}

	.choose-us {
		&__special-decoration {
			&--first {
				top: 0;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--second {
				top: 55%;
				left: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(55deg);
			}

			&--third {
				top: 0;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--fourth {
				top: 45%;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(65deg);
			}

			&--fifth {
				top: 96%;
				right: -1200px;
				width: 2000px;
				height: 1500px;
				transform: rotate(65deg);
			}
		}
	}

	.blog-popup--is-active {
		.navbar__container {
			padding-right: calc(8rem + 17px);
		}
	}

	.footer {
		&__box:nth-of-type(4) {
			display: block;
		}
	}
}

@media screen and (min-width: 1720px) {
	.contact {
		&__title-box {
			margin-left: 2em;
		}
	}

	.privacy-policy {
		&__title {
			width: 805px;
			max-width: 805px;
		}

		&__box {
			max-width: 800px;
		}
	}
}

@media screen and (min-width: 1920px) {
	.navbar {
		&__container {
			padding: 0 11.6rem;
		}
	}

	.blog-popup--is-active {
		.navbar__container {
			padding-right: calc(11.6rem + 17px);
		}
	}
}
