@use 'globals';

@media screen and (min-width: 768px) {
	.navbar {
		&__container {
			padding: 0 2.5rem;
			justify-content: space-between;
		}

		&__desktop {
			display: block;
		}

		&__mobile-burger-btn {
			display: none;
		}

		&__desktop-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style-type: none;
		}

		&__item {
			margin: 0 1rem;
		}

		&__login-icon {
			margin-top: 5px;
		}
	}

	.navbar-is-not-scrolled {
		.navbar {
			&__item-link {
				color: globals.$white-color;
			}
		}
	}

	.navbar-is-scrolled {
		.navbar {
			&__item-link {
				color: globals.$darker-blue-color;
			}
		}
	}

	.offer,
	.choose-us,
	.work-offer,
	.blog,
	.contact,
	.privacy-policy,
	.notfound {
		&__special-block {
			width: 35%;
			height: 50px;
		}
	}

	.offer,
	.work-offer {
		&__hero-image-title {
			font-size: 4rem;
		}

		&__benefits-text-content-box {
			max-width: 325px;
		}
	}

	.work-offer {
		&__benefits-special-block,
		&__banner-special-block,
		&__form-special-block {
			width: 35%;
			height: 50px;
		}
	}

	.contact {
		&__title-info-box {
			list-style-type: disc;
			text-align: left;
			max-width: 250px;
		}
	}

	.notfound {
		&__img {
			width: 70%;
		}

		&__credits {
			font-size: 2em;
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.welcome {
		&__main-text {
			font-size: 5rem;
		}

		&__special-btn {
			padding: 0.8em 0;
			margin-top: 1em;
			max-width: 250px;
			width: 250px;
			text-align: center;
		}

		&__icon-container {
			position: absolute;
			display: block;
			bottom: 1em;
			left: 50%;
			padding: 0.25em;
			transform: translateX(-50%);
			animation: arrow-bounce 2s infinite;
		}
	}

	.form {
		&__submit,
		&__return-btn {
			padding: 0.8em 0;
			margin-top: 1em;
			max-width: 250px;
			width: 250px;
		}
	}

	.notfound,
	.privacy-policy {
		&__btn {
			padding: 0.8em 0;
			max-width: 280px;
			width: 280px;
		}
	}

	.notfound {
		&__btn {
			margin-top: 1em;
		}
	}

	.loader {
		margin: 1.23em 0;
	}
}
