@use 'globals';

@media screen and (min-width: 768px) {
	.navbar {
		&__container {
			padding: 0 2.5rem;
			justify-content: space-between;
		}

		&__desktop {
			display: block;
		}

		&__mobile-burger-btn {
			display: none;
		}

		&__desktop-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style-type: none;
		}

		&__item {
			margin: 0 1rem;
		}

		&__login-icon {
			margin-top: 5px;
		}
	}

	.navbar-is-not-scrolled {
		.navbar {
			&__item-link {
				color: globals.$white-color;
			}
		}
	}

	.navbar-is-scrolled {
		.navbar {
			&__item-link {
				color: globals.$black-color;
			}
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.welcome {
		&__main-text {
			font-size: 5rem;
		}

		&__special-btn {
			padding: 0.8em 0;
			margin-top: 1em;
			max-width: 250px;
			width: 250px;
			text-align: center;
		}
	}
}
