@use 'globals';

@media screen and (max-width: 300px) {
	.contact {
		&__title-info-box {
			li {
				padding: 0.5em 0;
			}
		}
	}

	.cookie-banner-text {
		padding: 0.75em;
	}
}

@media screen and (max-width: 319px) {
	.offer {
		&__image-container {
			a {
				top: 55%;
				left: 9%;
				padding: 0.75em 1.25em;
				max-width: 180px;
				font-size: 0.9em;
				transform: skew(-20deg, 27deg);
			}

			p {
				top: 40%;
				left: 25%;
				font-size: 1em;
				transform: skew(-22deg, 22deg);
			}
		}

		&__image-container-icon {
			left: 43%;
			font-size: 42px;
		}

		&__special-circle {
			&--third {
				left: 6.5%;
				width: 250px;
				height: 250px;
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 400px) {
	.offer {
		&__image-container {
			a {
				top: 58%;
				left: 6.5%;
				padding: 0.75em 1.35em;
				max-width: 150px;
				transform: skew(-20deg, 27deg);
			}

			p {
				font-size: 1.1em;
				transform: skew(-22deg, 22deg);
			}

			img {
				max-width: 300px;
			}
		}

		&__image-container-icon {
			left: 43%;
			font-size: 42px;
		}

		&__special-circle {
			&--third {
				left: 2.5%;
				width: 300px;
				height: 300px;
			}
		}
	}
}

@media screen and (min-width: 400px) {
	.form {
		&__input,
		&__textarea,
		&__select {
			width: 90%;
		}
	}
}

@media screen and (min-height: 400px) {
	.welcome {
		&__sub-text {
			display: block;
			padding: 0 2em;
			max-width: 500px;
			text-align: center;
			line-height: 1.6em;
			font-weight: 300;

			span {
				font-weight: bold;
				font-style: italic;
			}
		}
	}
}

@media screen and (min-width: 400px) and (min-height: 410px) {
	.welcome {
		&__special-text {
			font-size: 2.8rem;
		}
	}
}

@media screen and (min-height: 475px) {
	.welcome {
		&__sub-text {
			margin-bottom: 2em;
		}

		&__special-btn {
			display: block;
			padding: 0.75em 3.5em;
			max-width: 180px;
			color: globals.$white-color;
			background-color: transparent;
			font-family: globals.$main-font;
			font-size: 1em;
			text-align: center;
			border: 2px solid globals.$white-color;
			border-radius: 2em;
			transition: background-color 0.3s;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 500px) {
	.footer {
		&__copyright-company-name {
			font-size: 0.75rem;
		}
	}
}

@media screen and (min-width: 500px) {
	.navbar {
		&__mobile-list {
			width: 70vw;
		}
	}

	.notfound,
	.privacy-policy {
		&__btn {
			padding: 1em 4em;
		}
	}
}

@media screen and (min-width: 600px) {
	.notfound {
		&__img {
			width: 80%;
		}
	}
}

@media screen and (min-width: 640px) {
	.choose-us {
		&__special-decoration {
			position: absolute;
			display: block;
			border: 1px solid globals.$white-color;

			&--first {
				top: 10%;
				left: -1000px;
				width: 1200px;
				height: 600px;
				transform: rotate(45deg);
			}

			&--second {
				top: 55%;
				left: -750px;
				width: 1000px;
				height: 500px;
				transform: rotate(55deg);
			}

			&--third {
				top: 3.5%;
				right: -850px;
				width: 1000px;
				height: 500px;
				transform: rotate(45deg);
			}

			&--fourth {
				top: 48%;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(65deg);
			}

			&--fifth {
				top: 85%;
				right: -700px;
				width: 1000px;
				height: 500px;
				transform: rotate(55deg);
			}
		}
	}

	.footer {
		&__box:nth-of-type(2) {
			display: block;
		}
	}
}
