.recruitment {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;

	&__container,
	&__wrapper,
	&__hero-image,
	&__content-wrapper,
	&__benefits,
	&__benefits-text-content-box,
	&__banner,
	&__banner-container,
	&__banner-container-box,
	&__form-container,
	&__form-title-box,
	&__form-title-info-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__container {
		position: relative;
	}

	&__wrapper,
	&__hero-image,
	&__benefits,
	&__banner,
	&__banner-container,
	&__form,
	&__form-title-box,
	&__work-form {
		width: 100%;
	}

	&__wrapper {
		margin: 0 auto;
	}

	&__hero-image {
		height: 60vh;
		background-image: url('../../../images/recruitment-subpage/recruitment-hero-image.jpg');
		background-position: center;
		background-size: cover;
	}

	&__hero-image-title {
		padding: 0 0.5em;
		color: var(--white-color);
		font-size: 3rem;
		font-weight: 300;
		text-align: center;
	}

	&__title {
		padding: 0 0.35rem 2rem;
		font-size: 2.5rem;
		text-align: center;
		font-weight: 300;

		&--special {
			padding-top: 50px;
		}
	}

	&__benefits {
		position: relative;
		padding: 50px 0 2rem;
	}

	&__benefits-text-content {
		padding-bottom: 1em;
	}

	&__benefits-text-content-box {
		margin: 2em;
		padding: 2em 0.5em 0;
		max-width: 325px;
		border: none;
		border-radius: 0.5em;

		-webkit-box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.25);
		-moz-box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.25);
		box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.25);

		h3 {
			padding: 1em;
			font-size: 1.5em;
			font-weight: 400;
			font-style: italic;
			text-align: center;
		}

		ul {
			padding: 0 1.75em 2em;
			font-weight: 350;
			line-height: 1.6em;
		}

		li {
			padding: 0.35em 0;

			span {
				font-weight: 600;
			}
		}

		li:first-of-type {
			padding: 0 0 0.35em;
		}

		li:last-of-type {
			padding: 0.35em 0 0;
		}
	}

	&__banner {
		position: relative;
		height: 100%;
		padding-bottom: 2rem;
		background-color: var(--sky-blue-color);
		color: var(--white-color);
	}

	&__banner-container {
		max-width: 1000px;
	}

	&__banner-container-box {
		padding: 3em 0;

		h3 {
			padding: 1em;
			font-size: 1.5em;
			font-weight: 300;
			font-style: italic;
			text-align: center;
		}

		a {
			color: var(--white-color);
			text-decoration-thickness: 1px;
			text-underline-offset: 3px;
			transition: color 0.3s;
		}
	}

	&__form {
		position: relative;
		padding: 50px 0 40px;
		overflow: hidden;
	}

	&__form-title {
		padding-bottom: 2rem;
		font-size: 2.5rem;
		text-align: center;
		font-weight: 300;
	}

	&__form-title-box,
	&__work-form {
		max-width: 600px;
	}

	&__form-title-box {
		padding-bottom: 2.5rem;
	}

	&__form-title-subtext,
	&__form-title-info-box {
		padding: 1em 0.05em;
		width: 90%;
	}

	&__form-title-subtext {
		line-height: 1.8em;

		span {
			font-weight: 600;
		}

		a {
			color: var(--dark-blue-color);
			text-underline-offset: 2px;
			transition: color 0.3s;
		}
	}

	&__form-title-info-box {
		list-style-type: none;

		li {
			padding: 0.5em 0;
			margin: 0.25em 0;
			width: 100%;
		}

		p {
			padding: 0.25rem 0;
			font-weight: 350;

			span {
				font-weight: 600;
			}
		}

		p:first-of-type {
			display: flex;
			align-items: center;
			font-weight: 500;

			svg {
				margin-right: 10px;
				font-size: 16px;
			}
		}
	}

	&__form-special-text {
		line-height: 1.6em;
	}

	&__benefits-special-block,
	&__banner-special-block,
	&__form-special-block {
		position: absolute;
		bottom: 0;
		width: 40%;
		height: 40px;

		&--left {
			left: -50px;
			transform: skew(45deg);
		}

		&--right {
			right: -50px;
			transform: skew(-45deg);
		}
	}

	&__benefits-special-block,
	&__form-special-block {
		background-color: var(--sky-blue-color);
	}

	&__banner-special-block {
		background-color: var(--white-color);
	}
}

@media screen and (max-width: 350px) {
	.recruitment {
		&__form-title-info-box li {
			margin: 0.5em 0;
			align-items: start;
			flex-direction: column;
		}
	}
}

@media screen and (min-width: 350px) {
	.recruitment {
		&__title {
			font-size: 2.75rem;
		}

		&__hero-image-title {
			font-size: 3.35rem;
		}

		&__form-title {
			font-size: 2.75rem;
		}
	}
}

@media screen and (min-width: 400px) {
	.recruitment {
		&__form-title-subtext,
		&__form-title-info-box {
			padding: 1em 0.4em;
			margin-left: -18px;
			width: 84%;
		}
	}
}

@media screen and (min-width: 400px) and (max-width: 550px) {
	.recruitment {
		&__form-title-subtext,
		&__form-title-info-box {
			margin-left: -10px;
		}
	}
}

@media screen and (max-height: 500px) {
	.recruitment {
		&__hero-image {
			height: 100vh;
		}

		&__hero-image-title {
			font-size: 4rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.recruitment {
		&__hero-image-title {
			font-size: 4rem;
		}

		&__benefits-text-content-box {
			max-width: 335px;
		}

		&__benefits-special-block,
		&__banner-special-block,
		&__form-special-block {
			width: 35%;
			height: 50px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.recruitment {
		&__hero-image {
			height: 57vh;
		}

		&__hero-image-title {
			font-size: 4.5rem;
		}

		&__content-wrapper {
			width: 100%;
			max-width: 1000px;
			flex-direction: row;
		}

		&__title {
			font-size: 3rem;
		}

		&__benefits-text-content {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: 3em;
			max-width: 1000px;
		}

		&__benefits-text-content-box {
			max-width: 425px;
			width: 425px;
		}

		&__benefits {
			padding-bottom: 3rem;
		}

		&__banner {
			padding-bottom: 3rem;
		}

		&__banner-container-box {
			h3 {
				font-size: 1.6rem;
			}

			a:hover {
				color: var(--dark-blue-color);
			}
		}

		&__form-title-subtext a:hover {
			color: var(--sky-blue-color);
			text-underline-offset: 2px;
			transition: color 0.3s;
		}
	}
}

@media screen and (min-width: 1358px) {
	.recruitment {
		&__hero-image-title {
			font-size: 5rem;
		}

		&__benefits {
			padding-top: 70px;
		}

		&__title {
			font-size: 3.5rem;

			&--special {
				padding-top: 70px;
			}
		}

		&__banner-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 1450px;
		}

		&__banner-container-box {
			padding: 2rem;
			margin: 4rem;
			width: 500px;
		}

		&__work-form {
			margin-right: 2.5rem;
		}

		&__form {
			padding-top: 70px;
		}

		&__form-container {
			align-items: start;
			flex-direction: row;
		}

		&__form-title-box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: start;
			margin-left: 4rem;
		}

		&__form-title,
		&__form-title-subtext {
			text-align: left;
		}

		&__form-title {
			padding: 0.5rem 0.85rem 0 0.9rem;
			width: 100%;
			font-size: 3.5rem;
		}

		&__form-title-subtext {
			padding: 2rem 4rem 1rem 2.1rem;
		}

		&__form-title-info-box {
			padding: 2rem 2.25rem 2rem 2.1rem;
			max-width: 400px;
			justify-content: start;
			font-size: 1.1rem;
		}

		&__benefits-special-block,
		&__banner-special-block,
		&__form-special-block {
			height: 45px;
			width: 40.1%;

			&--right {
				display: none;
			}
		}
	}
}
